<style>
    body{
        background-color: whitesmoke;
    }
    #return{
        background-color: rgba(10, 194, 255, 0.515);
        cursor: pointer;
        color: black;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        display: inline-block;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        margin-bottom: 1%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #return:hover {
        background-color: blue; 
        color: white;
        border: 1px solid;
        border-radius: 5px;
        transition: 0.5s;
    }

    #text{
        font-size: x-large;
    }
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style>


<div>
    <h1 align="center">ABOUT ME</h1>
    <p id="text" align="center">I am Shaik Saaduddin.</p>
    
</div>
<footer><a href="{% url 'home' %}" id="return">Home</a></footer>