<style>

body{
    background-color: rgba(250, 235, 215, 0.56);
}

    #about {
        background-color: rgba(10, 194, 255, 0.515);
        cursor: pointer;
        color: black;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        display: inline-block;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        padding-left: 15px;
        padding-right: 15px;
    }

    #about:hover {
        background-color: blue; 
        color: white;
        border: 1px solid;
        border-radius: 5px;
        transition: 0.5s;
    }

    #return{
        background-color: rgba(10, 194, 255, 0.515);
        cursor: pointer;
        color: black;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        display: inline-block;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        margin-bottom: 1%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #return:hover {
        background-color: blue; 
        color: white;
        border: 1px solid;
        border-radius: 5px;
        transition: 0.5s;
    }

    #head{
        position: relative;
        align-content: center;
        font-family: monospace;
    }

    #password{
        font-size: 50px;
    }
    #password:hover{
        font-size: 60px;
        transition: 0.5s;
    }
    div{
        background-color: rgba(17, 189, 17, 0.582);
        width: 80%;
        position: relative;
        align-items: center;
        text-align: center;
        margin: 5% auto;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
</style>


<div>
    <h1 align ="center" id="head">Your Password is</h1>

    <p id="password" align="center"><b>{{password}}</b></p>

    <a href="{% url 'home' %}" id="return">Home</a>

    <a href="{% url 'about' %}" id="about">About</a>
</div>


